


/* .................Variables----------------------*/

:root{
  --bluedark-color:#0f0a3c;
  --bluemed-color:#1f3c88;
  --light-color:#f3f9fb;
  --bluelightdark-color:#5893d4;
  --yellow-color:#f7b633;
  --fondo-light:#fafafa;
  --colorfondo:rgba(15, 10, 60, .85 );
  --colorevento:rgba(243, 249, 251, .75);
  --filtrohero:brightness(0.5);
  --fuente:'Chakra Petch', sans-serif;
}


/* .................Variables--------------------*/

/* -----------fuentes paquetes ----*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqb2fe');
  src:  url('../fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('../fonts/icomoon.woff?bqb2fe') format('woff'),
    url('../fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
/* -----------fuentes paquetes ----*/

/* @keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
} */

body {
  font-family: var(--fuente);
  margin: 0;
}

/*  .------------header----------------------------------------*/
.header {
  background-color:var(--bluedark-color);
  color: var(light-color);
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: var(--light-color);
  text-decoration: none;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}
 .header a:hover{
   color: var(--yellow-color);
 }
.header img{
  padding-top: 2.5px;
}
/*  .------------header----------------------------------------*/
/*  --------------------------Texto----------------------*/
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--fuente);
  font-weight: normal;
}

h1 {
  font-size: 33px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: var(--light-color);
  margin: 0;
}
h1 strong {
  color: var(--yellow-color);
}

/* .heroletter {
  animation-delay: 0.6s;
}

.herostrong{
  animation-delay: 0.8s
} */

h2 {
  color: var(--bluedark-color);
  text-transform: uppercase;
  font-family: var(--fuente);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
/*  ----------------texto----------------------------*/

/* .animated-pop-in {
  animation: pop-in 1s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
} */

/*  ---------------------------hero------------------------------------*/
.hero {
  height: 500px;
  background-color: var(--bluedark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


  /*  --------------------hero--------------------------*/

/*video*/

 /* .video-container {
   position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
} */

.youtubevid{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 3;
}

.flexible-video{
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}



  /* -----------------------Proyecto---------------------- */
}
.portfolio {
  background: var(--fondo-light);
  padding: 1.2em;
}
.project {
  border: 1px solid var(--bluelightdark);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 25px;
  text-align: justify;
  color: var(--bluedark-color);
}
.project strong {
  font-family: var(--fuente);
}

.project-title {
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 10px;
  text-align: center;
  color: #0f0a3c;
}
.project-details {
  width: 100%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}
/*  ---------------------------Poryecto----------------------------*/


.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 1em;
}
.event-title {
  font-size: 1.5em;
}
.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: var(--bluedark-color);
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: var(--colorevento);
  position: relative;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--bluelightdark-color);
  border-radius: 5px;
}
.event-description {
    text-align: center;
    font-size: 1em;
    color: var(--bluedark-color);
  }

.event-url {
  color: var(--bluedark-color);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--bluelightdark-color);
}

.event-url:hover{
  color:var(--yellow-color);
  font-weight: bolder;
}

.contact {
  background-color: var(--bluelightdark-color);
  color: var(--light-color);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  background-size: 50px 50px;
}

.social-link:hover{
  transform:scale(1.3);
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}



/*  ------------footer---------------------------*/
.footer {
  color: var(--light-color);
  background-color: var(--bluedark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
  margin:1em auto;
}

.footer img:hover{
  transition-duration: 0.5s;
  transform: scale(1.3);
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover{
  color:var(--yellow-color);
  font-size: 1.2em;
}

/*  .-------------------------footer-------------------------------*/
/*
.form-email input {
  border-color: #cdffeb;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  font-family: 'Chakra Petch', sans-serif;
}

.form-email button {
  font-family: 'Chakra Petch', sans-serif;
  display: block;
  background: transparent;
  color: #cdffeb;
  padding: 2px 0;
  border-radius: 5px;
  width: 100px;
  margin: 10px;
}

.form-email h3 {
  font-family: 'Chakra Petch', sans-serif;
} */


/* ----------------buergerbotom--------------------- */
.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bluedark-color);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: var(--light-color);
}

/*----------------------------- Media queries.---1023----------------*/

@media screen and (max-width: 1023px) {
  .event-list-title {
    margin-left: 0;
  }
  .portfolio {
    padding: 0;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
    justify-content: center;
    text-align: center;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
  .footer img{
    margin:1em auto;
  }
}
/*
.iframe {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

/* .video-container
  /* width: 100%; */
  /* height: auto; */
  /* {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%; */

  } */


/* .video-container  {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: blue;
  position: relative; */
}

.html-video {
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: blue;
  position: relative;
}
.hero-image{
  filter: var(--filtrohero);
}
h2{
  text-align: center;
}
button{
  margin: 1em;
}

.event h3{
  margin: 0 auto;
}

/*----------------------------- Media queries.---767px----------------*/
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
    text-align: center;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: none;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background:var(--colorfondo);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

  }
  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    /* font-size: 10px; */
  }
  .project-course, .project-date, .project-url {
    margin: .3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em;

  }
  .project-course {
    font-size: .7em;

  }
  .project-date {
    font-size: 1em;

  }
  .project-description {
    font-size: 1em;

  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
  .hero-image{
    filter:var(--filtrohero);
  }
  .hero{
    text-align: center;
  }
  .project-title{
    margin:0 auto;

}
.html-video {
  width: 100%;
  height: auto;
}
.html-video{
  margin-bottom: 1em;
}
.container-logou {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

/*----------------------------- Media queries.---480px----------------*/

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    font-size: 14px;
  }

  .event-detail {
    /* 1em = 16px */
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
  .hero{
    text-align: center;
  }
  .hero-image{
    filter:var(--filtrohero);
  }
  .footer img{
    margin:1em auto;
  }
  .html-video {
    width: 100%;
    height: auto;
    /* max-width: 100%; */
  }

}
/*----------------------------- Media queries.---320px----------------*/

@media screen and (max-width: 320px) {
.header img{
  width: 100%;
  height: 75%;
}



  h1 {
    font-size: 1.2em;
    /* background: rgba(0,0,0,.5) */
  }
  .hero {
    padding: 2em 1em;
    text-align: center;
  }
  .hero-image{
    filter:var(--filtrohero);
  }

  }
  .footer{
    font-size: 0.7em;
    justify-content: center;
  }
  .footer img{
    margin:1em auto;
  }
  .social-link{
    margin-left: 10px;
    margin-right: 10px;
  }
  .html-video {
    width: 100%;
    height: auto;
    /* max-width: 100%; */
  }
}

/* -------------------------------------------------------------version 0.8 */
/* paleta de colores
tono claro #cdffeb
tono medio #009f9d
tono dark #07456f
background #0f0a3c */

/* font chakra petch */
